body {
  background-color: $off-white;
  color: #000;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 40px;
  padding-top: 140px;
  @include bp(xs) {
    padding-top: 60px;
  }
}

// Selection color
::selection {
  background: $primary-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $primary-color; /* Gecko Browsers */
}

// Layout spacing
.bottom-buffer-20 {
  margin-bottom: 20px;
}

.bottom-buffer-40 {
  margin-bottom: 40px;
}

// Resets
.no-ul {
  list-style: none;
  padding: 0;
}

// Forms
label {
  font-weight: 400;
}

.form-control,
.selectize-input {
  border-radius: 0;
  box-shadow: none;
  color: #000;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  height: auto;
  padding: 10px 12px;
  &:focus {
    border-color: #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2);
  }
}
