h2 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
  text-transform: uppercase;

  &::before {
    background-color: #000;
    content: '';
    height: 2px;
    position: absolute;
    width: 25px;
    top: 10px;
  }
}

a {
  color: #000;
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
