@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

$font-stack:    'Slabo 27px', serif;

html {
    font-size: 62.5%;
    font-family: $font-stack !important;
    color: #000;
}

a:link { color:#0271fb; }
a:visited { color:#bd02fb; }
a:hover, a:focus { color:#000; }
a:active { color:#fb0e02; }
