amqp==2.1.4
anyjson==0.3.3
auth0-python==3.0.0
billiard==3.5.0.2
celery==4.0.2
certifi==2017.4.17
chardet==3.0.3
Django==1.11.2
django-celery-beat==1.0.1
django-celery-results==1.0.1
django-extensions==1.7.9
django-filter==1.0.4
djangorestframework==3.6.3
gunicorn==19.7.1
idna==2.5
kombu==4.0.2
Markdown==2.6.8
olefile==0.44
Pillow==8.1.1
psycopg2==2.7.1
pytz==2017.2
requests==2.17.3
six==1.10.0
SQLAlchemy==1.1.11
urllib3==1.21.1
vine==1.1.3
