[Unit]
Description=techjargon daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/techjargon/techjargon-app
ExecStart=/var/www/techjargon/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/var/www/techjargon/techjargon.sock techjargon.wsgi:application

[Install]
WantedBy=multi-user.target
