{% load static %}

<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
  <meta charset="utf-8">

  <!-- seo work -->
  <title>{% block title %}{% endblock %} TechJargon</title>

  <link rel="search" type="application/opensearchdescription+xml" title="TechJargon" href="{% static 'opensearch.xml' %}">

  <meta name="description" content="TechJargon is a leading technology index wiki, dedicated to obsessively new technical terms, reviewing new tech products, and breaking tech products and solutions.">
  <meta name="apple-mobile-web-app-title" content="TechJargon" />
  <meta name="keywords" content="technoloy, jargons, news, tech terms, dictionary,">
  <meta property='og:site_name' value='TechJargon'/>
  {% block meta %}{% endblock %}

  <!-- Define a viewport to mobile devices to use - telling the browser to assume that the page is as wide as the device (width=device-width,
  and setting the initial page zoom level to be 1 (initial-scale=1.0), and fixing width=device-width for iOS9 (shtink-to-fit=no) -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Add normalize.css which enables browsers to render all elements more consistently and in line with modern standards as it only targets particular styles that need normalizing -->
  <link rel="stylesheet" href="{% static 'normalize.css' %}" media="all">
  <!-- For legacy support (IE 6/7, Firefox < 4, and Safari < 5) use normalize-legacy.css instead -->
  <!--<link href="{% static 'normalize-legacy.css' %}" rel="stylesheet" media="all">-->

  <!-- Include the site stylesheet -->
  <link rel="stylesheet" href="{% static 'styles.css' %}" media="all">

  <!-- custom overrieds -->
  <link rel="stylesheet" href="{% static 'custom.css' %}" media="all">

  <!-- Include the HTML5 shiv print polyfill for Internet Explorer browsers 8 and below -->
  <!--[if lt IE 9]><script src="{% static 'html5shiv-printshiv.js' %}" media="all"></script><![endif]-->

  <!-- bootstrap 3.3.7 -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

  <!-- selectize 0.12.4 -->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/selectize/dist/css/selectize.css' %}">

  <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">

  <!-- webui-popover 1.2.18 -->
  <link rel="stylesheet" href="{% static 'bower_components/webui-popover/dist/jquery.webui-popover.min.css' %}">

  <!-- jquery-bar-rating 1.2.2 -->
  <link rel="stylesheet" href="{% static 'bower_components/jquery-bar-rating/dist/themes/bootstrap-stars.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/jquery-bar-rating/dist/themes/css-stars.css' %}">
  <link rel="stylesheet" href="{% static 'bower_components/jquery-bar-rating/dist/themes/bars-1to10.css' %}">

  <!-- js-socials 1.4.0 -->
  <link rel="stylesheet" href="{% static 'bower_components/jssocials/dist/jssocials.css' %}"/>
  <link rel="stylesheet" href="{% static 'bower_components/jssocials/dist/jssocials-theme-plain.css' %}"/>

  <!-- custom page specific css -->
  {% block css_styles %}
  {% endblock %}

</head>
<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P52XKQJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">
    <!-- The page header typically contains items such as your site heading, logo and possibly the main site navigation -->
    <!-- ARIA: the landmark role "banner" is set as it is the prime heading or internal title of the page -->
    <header role="banner">

      <div class="page-header" id="banner">
        <div class="row">

          <div class="col-md-3" id="logo">
            <a href="/"><h1><small>Tech</small><strong>Jargon</strong><sup class="text-muted"><small>{beta}</small></sup></h1></a>
          </div>

          <div class="col-md-6" id="search-box">
            <input type="text" id="search-box-autocomplete" name="" placeholder="search..." v-model="query" v-on:keyup="searchArticles" autocomplete="off">
            <div id="search-box-autocomplete-suggestions">
              <a v-for="article in results" v-bind:href="article.link">
                <div class="box">
                  <h4 class="text-capitalize">@{ article.title }</h4>
                  <span class="text-muted" v-html="article.description_short"></span>
                </div>
              </a>

              <a href="{% url 'articles:add' %}">
                <div class="box text-info">
                  <h4 class="text-capitalize">+ Add @{ query }</h4>
                  <span class="text-muted">Add @{ query } article to techJargor</span>
                </div>
              </a>

            </div>
          </div>

          <div class="col-md-3 hidden-xs">
            <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
              <div class="collapse navbar-collapse">
                <div class="navbar-nav pull-right">
                  <a class="nav-item nav-link bt btn-add-article" href="{% url 'articles:add' %}"><i class="fa fa-plus-circle fa-2" aria-hidden="true"></i> new article</a>
                </div>
              </div>
            </nav>
          </div>

        </div>
      </div>

    </header>
    <br>
    <div class="container" id="content-main-area">
      {% block content %}
      {% endblock %}
    </div>

    <!-- The main page footer can contain items such as copyright and contact information. It can also contain a duplicated navigation of your site which is not usually contained within a <nav> -->
    <!-- ARIA: the landmark role "contentinfo" is added here as it contains metadata that applies to the parent document -->
  </div>
  <footer role="contentinfo">
    <div class="container" id="content-main-area">
      <div class="row">
        <div id="site_share" class="text-right">
          <a href="https://www.facebook.com/techjargons/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
          <a href="https://twitter.com/techjargons?lang=en"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="row">
          <ul class="list-inline">
            <li class="pull-right">Copyright © <a href="http://fidenz.com/">Fidenz Technologies</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="http://fidenz.com/about-page/">About</a></li>
            <li><a href="/new">New article</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'authors:signout' %}">Sing Out</a></li>
            {% else %}
            <li><a href="{% url 'authors:signin' %}">Sing In</a></li>
            {% endif %}
          </ul>
      </div>
    </div>
  </footer>

  <!-- jQuery 3.2.1 -->
  <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

  <!-- bootstrap 3.3.7 -->
  <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'html5shiv-printshiv.js' %}"></script>

  <!-- vue -->
  <script src="{% static 'bower_components/vue/dist/vue.min.js' %}"></script>
  <script src="{% static 'bower_components/axios/dist/axios.min.js' %}"></script>

  <!-- js-cookie 2.1.4 -->
  <script src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>

  <!-- selectize 0.12.4 -->
  <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
  <script src="{% static 'bower_components/selectize/dist/js/standalone/selectize.min.js' %}"></script>

  <!-- webui-popover 1.2.18 -->
  <script src="{% static 'bower_components/webui-popover/dist/jquery.webui-popover.min.js' %}"></script>

  <!-- jquery-bar-rating 1.2.2 -->
  <script src="{% static 'bower_components/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>

  <!-- js-socials 1.4.0 -->
  <script src="{% static 'bower_components/jssocials/dist/jssocials.min.js' %}"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-75179136-4', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P52XKQJ');</script>
  <!-- End Google Tag Manager -->

  <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("2a7417e757d5987d09abde4a99d74879");</script><!-- end Mixpanel -->

  <!-- start userreport -->
  <script type="text/javascript">
  window._urq = window._urq || [];
  _urq.push(['initSite', 'c705994e-d16e-454d-aa8e-838236013887']);
  (function() {
  var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
  ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
  })();
  </script>
  <!-- end userreport -->

  <script>

  $('body').on('click', function () {
    $('#search-box-autocomplete-suggestions').hide();
  });
    var search = new Vue({
      el: '#search-box',
      delimiters: ['@{', '}'],
      data: {
        results: [],
        query: null
      },
      ready: function() {
      },
      methods: {
        searchArticles: debounce(search, 500, false)
      }
    });

    function search() {
      mixpanel.track('search', {query: search.query});

      var csrftoken = Cookies.get('csrftoken');

      axios({
        method:'post',
        url:'/search/',
        data: {
          'query': search.query
        },
        headers: {'X-CSRFToken': csrftoken}
      })
      .then(function (response) {
        $('#search-box-autocomplete-suggestions').show();
        search.results = response.data;
      })
      .catch(function (error) {
        console.log(error);
      });
    }

    function debounce(func, wait, immediate) {
    	var timeout;
    	return function() {
    		var context = this, args = arguments;
    		var later = function() {
    			timeout = null;
    			if (!immediate) func.apply(context, args);
    		};
    		var callNow = immediate && !timeout;
    		clearTimeout(timeout);
    		timeout = setTimeout(later, wait);
    		if (callNow) func.apply(context, args);
    	};
    };

  </script>

  <!-- custom page specific js -->
  {% block javascript %}
  {% endblock %}

</body>
</html>
