{% load static %}

<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{% endblock %} TechJargon</title>

    <link rel="search" type="application/opensearchdescription+xml" title="TechJargon" href="{% static 'res/opensearch.xml' %}">

    <meta name="description" content="TechJargon is a leading technology index wiki, dedicated to obsessively new technical terms, reviewing new tech products, and breaking tech products and solutions.">
    <meta name="apple-mobile-web-app-title" content="TechJargon" />
    <meta name="keywords" content="technoloy, jargons, news, tech terms, dictionary, wiki, trending technologies">
    <meta property='og:site_name' value='TechJargon' /> {% block meta %}{% endblock %}

    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
    <link rel="stylesheet" href="{% static 'styles/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'scripts/vendor/modernizr.js' %}"></script>
</head>

<body>
    <!--[if IE]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">
                        <div class="jargon-logo">
                            <h1><strong>Tech</strong>Jargon</h1>
                        </div>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/new" class="navbar-newarticle">+ New Article</a></li>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li>
                            <ul class="navbar-social">
                                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right" action="{% url 'articles:search'%}" method="get">

                        <div class="search__container" id="searchapp">
                            <div class="search search__navbar" id="searchNavbar">
                                <input v-model="query" v-on:keyup="searchArticles" name="q" type="text" class="form-control" placeholder="Search" autocomplete="off" value="{{ query }}">
                                <button type="button" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                            <div id="search-box-autocomplete-suggestions" class="search__result" v-if="got_results">
                                <a v-for="article in results" v-bind:href="article.link">
                                    <div class="box">
                                        <!-- <h4 class="text-capitalize">@{ article.title }</h4> -->
                                        <h4 class="text-capitalize">@{ article.title }</h4>
                                        <!-- <span class="text-muted" v-html="article.description_short"></span> -->
                                        <span class="text-muted search__result-description" v-html="article.description_short"></span>
                                    </div>
                                </a>
                                <a href="{% url 'articles:add' %}">
                                    <div class="box text-info">
                                        <h4 class="text-capitalize">+ Add @{ query }</h4>
                                        <span class="text-muted">Add @{ query } article to techJargor</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" id="app">
        {% block content %} {% endblock %}
    </div>
    <footer>
        <span>© 2017 TechJargon</span>
        <span>Powered by <a href="http://fidenz.com" target="_blank">Fidenz</a></span>
    </footer>

    <script src="{% static 'scripts/vendor.js' %}"></script>
    <script src="{% static 'scripts/plugins.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>

    <script>
        var VueaApp = Vue.extend({
            el: '#app',
            delimiters: ['@{', '}'],
            data: {

            },
            ready: function() {

            },
            mounted: function() {

            },
            methods: {
                test: function(e) {
                    alert("Test Vue.js")
                }
            }
        });

        var searchapp = new Vue({
            el: '#searchapp',
            delimiters: ['@{', '}'],
            data: {
                query: "",
                results: [],
                got_results: false,
            },
            ready: function() {

            },
            mounted: function() {

            },
            methods: {
                searchArticles: debounce(search, 300, false)
            }
        });

        function search() {
            //mixpanel.track('search', {
            //    query: search.query
            //});

            var csrftoken = Cookies.get('csrftoken');

            axios({
                    method: 'post',
                    url: '/articles/api/search/',
                    data: {
                        'query': searchapp.query
                    },
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(function(response) {
                    searchapp.got_results = true;
                    searchapp.results = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        }

        function debounce(func, wait, immediate) {
            var timeout;
            return function() {
                var context = this,
                    args = arguments;
                var later = function() {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        };

        $('body').on('click', function() {
            searchapp.got_results = false;
        });
    </script>
    <!-- custom page specific js -->
    {% block javascript %} {% endblock %}

</body>

</html>
