
.page-header {
	margin: 0 !important;
}

.page-header #logo a:link {
	color: #4169E1;
}

a:link {
	color: #333;
	word-wrap: break-word;
}
a:visited{
	color: #39739d;
}

input[type=text] {

	border-radius: 0;
}

input[type=text]:focus {
	outline-width: 0;
	border: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cecece;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #cecece;
}
:-moz-placeholder { /* Firefox 18- */
  color: #cecece;
}

.page-header #logo {

}

#search-box input[type=text] {

	width: 100%;
    /* height: 70px; */
    font-size: 25px;
    border: 0;
    margin-top: 15px;
    background: #f;
    background-color: #f5f5f5;
    padding: 8px;
}

#search-box input[type=text]:focus {

	outline-width: 0;
	border: none;
}

#search-box #search-box-autocomplete-suggestions {
	margin-top: 5px;
	position: absolute;
	/*width: 100%;*/
	height: auto;
	max-height: 400px;
	background-color: #fcfcfc;
	border: 1px solid #eee;
	box-shadow: 1px 4px 5px #ccc;
	z-index: 9999;
	padding: 0px !important;
	overflow: scroll;
	display: none;
	left: 15px;
	right: 15px;
}

#search-box #search-box-autocomplete-suggestions a {
	color: inherit;
	text-decoration: inherit;
}

#search-box #search-box-autocomplete-suggestions .box {
	padding: 5px;
	padding-left: 8px;
}

#search-box #search-box-autocomplete-suggestions .box:hover {
	background-color: #D6EBF2;
}

.tag {
	background-color: #E1ECF4;
	padding:4px;
	display: block;
	float: left;
	margin-right: 4px;
	margin-bottom: 4px;
	color:#39739d;
	font-size: 9pt;
	cursor: pointer;
}

.tagcloud a {
	margin: 8px;
}

.related-articles {
	width: 100%;
	display: block;
	float: left;
}

.article-stats > h4 > small {
	padding-top: 4px;
	width: 45px;
	float: left;
	display: block;
}

.view-count {
	width: 40px;
	padding: 5px;
	margin-right: 10px;
	float: left;
	font-size: 9pt;
	display: block;
	border-radius: 2px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.view-count-gray {
	background-color: #eee;
}

.jssocials-share-link {
	font-size: 11px;
	color: #eee;
	color: #eee;
}

.btn-add-article {
	display: block;
	margin-top: 25px;
	font-size: 25px;
}


footer {
	/*position:absolute;*/
	bottom:0;
	width:100%;
	/*height:60px;   */
	background-color: #4169E1;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

footer a {
	color: #fff !important;

}

footer .jssocials-shares a {
	border-color: #fff;
}

.container-fluid {
	min-height: calc(100vh - 60px);
	padding-bottom: 20px;
}

.my-rating-box span.text-muted {
	float: left;
  margin-right: 10px;
}

#overall-rating a {
	font-size: 20px;
}

#site_share {
	font-size: 30px;
}

@media (max-width: 768px) {
	.page-header #logo {
		text-align: center;
	}
}
