{% extends "_base.html" %}

{% load static %}

{% block title %} New {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form action="{% url 'articles:add'%}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label>Title</label>
        <input name="{{form.title.html_name}}" type="text" class="form-control input-lg" value="{{ form.title.value|default_if_none:'' }}">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea rows="10" id="article-content" name="{{form.content.html_name}}" class="form-control" rows="4">{{ form.content.value|default_if_none:'' }}</textarea>
        <p class="text-right" id="article-content-length-msg">500</p>
      </div>
      <div class="form-group">
          <label>Meta</label><button type="button" class="btn btn-link" onclick="addMeta()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
      </div>

      <div id="article-metas"></div>

      <div class="form-group">
        <label>Tags</label>
        <input name="{{form.tags.html_name}}" type="text" class="" id="article-tags" value="{{ form.tags.value|default_if_none:'' }}">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>

<!-- templates -->
<template id="article-meta-template">
  <div class="form-group">
    <div class="row">

        <div class="col-sm-3">
          <select class="select-gear" name="{{form.meta_keys.html_name}}">
            <option value="home">home</option>
            <option value="wiki">wiki</option>
            <option value="github">github</option>
            <option value="install">install</option>
            <option value="other">other</option>
          </select>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="{{form.meta_values.html_name}}" value="{{ form.meta_values.value|default_if_none:'' }}">
        </div>

        <div class="col-sm-1">
          <button type="button" class="btn btn-link btn-remove" aria-hidden="true">
            <i class="fa fa-minus-circle text-danger" aria-hidden="true"></i>
          </button>
        </div>

    </div>

  </div>
</template>

{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {

    $('.select-gear').selectize({
      create: true
    });

    $('#article-tags').selectize({
      delimiter: ',',
      copyClassesToDropdown: true,
      persist: false,
      create: function(input) {
          return {
              value: input,
              text: input
          }
      }
    });

    $("#article-content").keyup(function(e){
      var _remaing = (500 - $(this).val().length);
      $("#article-content-length-msg").text("characters left: " + _remaing);
      $("#article-content").keydown(function(e){
          if(_remaing == 0){
              e.preventDefault();
          }
      });
    });
  });

  var meta_index = 0;

  function addMeta() {

    var template = $('#article-meta-template').html();
    _div_id = "meta-box-" + meta_index++;
    template = $( template ).attr("id", _div_id);
    $( template ).find(".btn-remove").click({div: "#" + _div_id}, removeMeta);
    $('#article-metas').append(template);
    $('select').selectize({
      create: true
    });

    function removeMeta(event) {
      $(event.data.div).remove();
    }
  };



</script>
{% endblock %}
