{% extends "_base.html" %}

{% load static %}

{% block meta %}
<meta property="og:url" content="https://techjargon-dev.fidenz.info.com/"/>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<h2>Top Articles:</h2>
			{% for article in top_articles %}
			<div class="col-md-4">
				<h3><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title|title }}</a></h3>
				<p class="text-justify">{{ article.description_short | safe }}</p>
				<span class="text-right">
					<p><small> on {{ article.updated_at |  date:"d, N Y" }}</small><br>
						<a href="#">{{ article.active_content.author.user.first_name }} {{ article.active_content.author.user.last_name }}</a>
					</p>
				</span>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-sm-12">
		<div class="row">
			<h3>Latest:</h3>
			{% for article in latest_articles %}
			<div class="col-md-3">
				<h4><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title|title }}</a></h4>
				<p class="text-justify">{{ article.description_short | safe }}</p>
				<span class="text-right">
					<p><small> on {{ article.updated_at |  date:"d, N Y" }}</small><br>
						<a href="#">{{ article.active_content.author.user.first_name }} {{ article.active_content.author.user.last_name }}</a>
					</p>
				</span>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1 text-justify tagcloud" id="tags">
    {% for tag in tags %}
    <a href="{% url 'articles:tags_detail' tag.slug %}" rel="{{ tag.weight }}">{{ tag.name }}</a>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block javascript %}
<!-- jquery.tagcloud 0.0.1 -->
<script src="{% static 'jquery.tagcloud.js' %}"></script>

<script>
	$.fn.tagcloud.defaults = {
		size: {start: 9, end: 20, unit: 'pt'},
		color: {start: '#5bc0de', end: '#428bca'}
	};

	$(function () {
		$('#tags a').tagcloud();
	});
</script>
{% endblock %}
