.sidebar-left {
  left: 15px;
  position: fixed;
  top: 118px;
  width: calc(25% - 30px);
  text-align: right;
  @include bp(xs) {
    margin-bottom: 20px;
    position: static;
    width: auto;
  }
}

.sidebar-h2-align-top {
  margin-top: 6px;
}